.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
}

.done {
  color: grey;
  text-decoration: line-through;
}

span {
  display: inline-block;
  width: 300px; // o el ancho que necesites
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}